.no-display {
    display: none;
}

.add-chat-window {
    z-index: 2;
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 1px 10px 1px;
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 2%;
}

.add-chat-option {
    height: 5%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 9px;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.add-chat-option:hover {
    background-color: rgb(200, 200, 200);
}

.option-icon {
    color:rgb(66, 66, 66);
}

.option-name {
    color: rgb(66, 66, 66);
}