/* Chat containers */
.container {
    width: 100%;

  }

  .message-box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    max-width: 60%;
    width: 45%;
    height: auto;
    border-radius: 20px;
    overflow-wrap: break-word;
  }

  .sent-by-self {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
    max-width: 60%;
    width: 45%;
  }
  
  /* Clear floats */
  .container:after {
    content: "";
    clear: both;
    display: table;
  }

  .message-box:after {
    content: "";
    clear: both;
    display: table;
  }

  .sent-by-self:after {
    content: "";
    clear: both;
    display: table
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  .sender {
    font-family: cursive;
    float: left;
    margin-right: 20px;
  }

  .avatar {
    float: right;
  }