.no-display {
    display: none;
}

.chat-window {
    z-index: 2;
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 1px 10px 1px;
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 2%;
    height: 12%;
    cursor: pointer;
}

.chat-info {
    text-align: center;
    padding: 10px;
}

.icon {
    position: absolute;
    left: 10%;
}

.chat-name {
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    left: 20%;
    font-family: cursive;
}

.selected-chat-name {
    font-size: 23px;
}

.selected {
    background-color: rgb(200, 200, 200);
    font-size: 23px;
}