.no-display {
    display: none;
}

.chat-window {
    z-index: 2;
    background-color: rgb(230, 230, 230);
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2px;
    padding: 2%;
    height: 10%;
    cursor: pointer;
}

.chat-info {
    text-align: center;
    padding: 10px;
}

.icon {
    position: absolute;
    left: 10%;
}

.chat-name {
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    left: 20%;
    font-family: cursive;
}
