.chats-window {
    z-index: 2;
    background-color: rgb(244, 244, 244);
    position: relative;
    left: 0;
    height: 70%;
    width: 100%;
    overflow-y: auto;
}

.found-chats-description {
    font-family: cursive;
    text-align: center;
}