.no-display {
    display: none;
}

.profile-window {
    z-index: 2;
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 1px 10px 1px;
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 2%;
    height: 10%;
}

.user-info {
    text-align: center;
    padding: 10px;
}

.icon {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10%;
}

.full-name {
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 20%;
    font-family: cursive;
}

.username {
    font-size: 25px;
    padding: 10px;
    left: 17%;
    position: absolute;
    font-weight: lighter;
}